<section id="create-cast">
    <div class="createCastSection">
        <div class="info-cast">
            <h2>"You're gonna need a bigger boat." — "Jaws," 1975.</h2>
        </div>

        <form action="#" method="" class="createCastForm">
            <h2>Add Cast</h2>
            <ul class="noBullet">
                <li>
                    <label for="name">Name:</label>
                    <input type="text" class="inputFields" id="name" name="" value="" />
                </li>
                <li>
                    <label for="age">Age:</label>
                    <input type="number" class="inputFields" id="age" name="" value="" />
                </li>
                <li>
                    <label for="born">Born:</label>
                    <input type="text" class="inputFields" id="born" name="" value="" />
                </li>
                <li>
                    <label for="name-in-movie">Name in Movie:</label>
                    <input type="text" class="inputFields" id="name-in-movie" name="" value="" />
                </li>
                <li>
                    <label for="image">Cast Image:</label>
                    <input type="text" class="inputFields" id="image" name="" value="" />
                </li>
                <li id="center-btn">
                    <button id="create-btn">Add Cast</button>
                </li>
            </ul>
        </form>

    </div>
</section>
