<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>404 Page</title>
    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">
        <nav>
            <img src="./static/img/logo.webp" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create Post</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
            </ul>

        </nav>

        <main>

            <div class="full-screen">
                <div class='not-found'>
                    <div class="ufo-img">
                        <img src="./static/img/error-image.webp">
                    </div>

                    <div class="error-message">
                        <span class="error-num">404</span>
                        <p>Go Back to <a href="#">HOME</a></p>
                    </div>

                </div>
            </div>
            
        </main>

        <footer>
            © JS Back-End Workshop
        </footer>
    </div>

</body>

</html>