<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">
        <nav>
            <img src="./static/img/logo.webp" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create Post</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
            </ul>

        </nav>

        <main>

            <div class="full-screen">
                <div class='about'>
                    <div class="contact-img">
                        <img src="./static/img/about-image.png">
                    </div>

                    <div class="about-contact">
                        <div id="first">
                            <h1>Address:</h1>
                            <div id="address">
                                <p>Sofia, Mladost 4</p>
                                <p>Aleksandar Malinov Boulevard 78</p>
                            </div>
                        </div>
                        <div id="second">
                            <h1>Contacts:</h1>
                            <div id="contacts">
                                <p>+ 359 899 55 55 92 </p>
                                <p>university@softuni.bg</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </main>

        <footer>
            © JS Back-End Workshop
        </footer>
    </div>

</body>

</html>