<div class="full-screen">
    <div class='about'>
        <div class="contact-img">
            <img src="/img/about-image.png">
        </div>

        <div class="about-contact">
            <div id="first">
                <h1>Address:</h1>
                <div id="address">
                    <p>Sofia, Mladost 4</p>
                    <p>Aleksandar Malinov Boulevard 78</p>
                </div>
            </div>
            <div id="second">
                <h1>Contacts:</h1>
                <div id="contacts">
                    <p>+ 359 899 55 55 92 </p>
                    <p>university@softuni.bg</p>
                </div>
            </div>
        </div>

    </div>
</div>