<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Cast Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="https://cdn.pixabay.com/photo/2013/07/13/13/36/film-161204_1280.png" alt="logo">

            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Create Post</a></li>
                <li><a href="#">Create Cast</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">About</a></li>
            </ul>

        </nav>

        <main>

            <section id="create-cast">
                <div class="createCastSection">
                    <div class="info-cast">
                        <h2>"You're gonna need a bigger boat." — "Jaws," 1975.</h2>
                    </div>

                    <form action="#" method="" class="createCastForm">
                        <h2>Add Cast</h2>
                        <ul class="noBullet">
                            <li>
                                <label for="name">Name:</label>
                                <input type="text" class="inputFields" id="name" name="" value="" />
                            </li>
                            <li>
                                <label for="age">Age:</label>
                                <input type="number" class="inputFields" id="age" name="" value="" />
                            </li>
                            <li>
                                <label for="born">Born:</label>
                                <input type="text" class="inputFields" id="born" name="" value="" />
                            </li>
                            <li>
                                <label for="name-in-movie">Name in Movie:</label>
                                <input type="text" class="inputFields" id="name-in-movie" name="" value="" />
                            </li>
                            <li>
                                <label for="image">Cast Image:</label>
                                <input type="text" class="inputFields" id="image" name="" value="" />
                            </li>
                            <li id="center-btn">
                                <button id="create-btn">Add Cast</button>
                            </li>
                        </ul>
                    </form>

                </div>
            </section>

        </main>


        <footer>
            © JS Back-End Workshop
        </footer>
    </div>


</body>

</html>