<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Attach Cast Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="https://cdn.pixabay.com/photo/2013/07/13/13/36/film-161204_1280.png" alt="logo">

            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Create Post</a></li>
                <li><a href="#">Create Cast</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">About</a></li>
            </ul>

        </nav>

        <main>
            <section id="attachCast">
                <div class="attachCastSection">
                <h1>Attach New Cast</h1>
                <div class="attach-form">
                    <h2>Jungle Cruise</h2>
                    <img class="movie" src="./static/img/jungle-cruise.jpeg">
                    <form action="" method="">
                        <label for="cast">Cast</label>
                        <select id="cast" name="cast">
                        <option value="none" selected>--------</option>
                        <option value="Cast 1">Cast 1</option>
                        <option value="Cast 2">Cast 2</option>
                        <option value="Cast 3">Cast 3</option>
                        <option value="Cast 4">Cast 4</option>
                        <option value="Cast 5">Cast 5</option>
                        </select>
                        <div id="center-btn">
                            <button id="create-btn">Add Cast</button>
                        </div>
                    </form>
                </div>
            </div>
            </section>
            
        </main>


        <footer>
            © JS Back-End Workshop
        </footer>
    </div>


</body>

</html>