<section id="create-page">
    <div class="createSection">
        <div class="info">
            <h2>"Today, I consider myself the luckiest man on the face of the earth." -The Pride of the Yankees, 1942
            </h2>
        </div>

        <form action="/create" method="POST" class="createForm">
            <h2>Add Movie</h2>
            <ul class="noBullet">
                <li>
                    <label for="title">Title:</label>
                    <input type="text" class="inputFields" id="title" name="title" />
                </li>
                <li>
                    <label for="genre">Genre:</label>
                    <input type="text" class="inputFields" id="genre" name="genre" />
                </li>
                <li>
                    <label for="director">Director:</label>
                    <input type="text" class="inputFields" id="director" name="director" />
                </li>
                <li>
                    <label for="date">Year:</label>
                    <input type="number" class="inputFields" id="year" name="year" />
                </li>
                <li>
                    <label for="image">Movie Poster:</label>
                    <input type="text" class="inputFields" id="image" name="imageUrl" />
                </li>
                <li>
                    <label for="image">Rating:</label>
                    <input type="number" max="5" class="inputFields" id="rating" name="rating" />
                </li>
                <li>
                    <label for="description">Description:</label>
                    <textarea id="description" class="inputFields" name="description"></textarea>
                </li>
                <li id="center-btn">
                    <button id="create-btn">Add Movie</button>
                </li>
            </ul>
        </form>

    </div>
</section>
