<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Page</title>

    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <nav>
            <!-- Do not forget to change the path to the image -->
            <img src="https://cdn.pixabay.com/photo/2013/07/13/13/36/film-161204_1280.png" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create Post</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
            </ul>

        </nav>

        <main>

            <section id="create-page">
                <div class="createSection">
                    <div class="info">
                        <h2>"Today, I consider myself the luckiest man on the face of the earth." -The Pride of the Yankees, 1942</h2>
                    </div>

                    <form action="#" method="" class="createForm">
                        <h2>Add Movie</h2>
                        <ul class="noBullet">
                            <li>
                                <label for="title">Title:</label>
                                <input type="text" class="inputFields" id="title" name="" value="" />
                            </li>
                            <li>
                                <label for="genre">Genre:</label>
                                <input type="text" class="inputFields" id="genre" name="" value="" />
                            </li>
                            <li>
                                <label for="director">Director:</label>
                                <input type="text" class="inputFields" id="director" name="" value="" />
                            </li>
                            <li>
                                <label for="date">Year:</label>
                                <input type="number" class="inputFields" id="year" name="" value="" />
                            </li>
                            <li>
                                <label for="image">Movie Poster:</label>
                                <input type="text" class="inputFields" id="image" name="" value="" />
                            </li>
                            <li>
                                <label for="image">Rating:</label>
                                <input type="text" class="inputFields" id="rating" name="" value="" />
                            </li>
                            <li>
                                <label for="description">Description:</label>
                                <textarea id="description" class="inputFields" name="description"></textarea>
                            </li>
                            <li id="center-btn">
                                <button id="create-btn">Add Movie</button>
                            </li>
                        </ul>
                    </form>

                </div>
            </section>

        </main>


        <footer>
            © JS Back-End Workshop
        </footer>
    </div>


</body>

</html>