<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Details Page</title>
    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <nav>
            <img src="./static/img/logo.webp" alt="logo">

            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Search</a></li>
                <!--Users-->
                <li><a href="#">Create Post</a></li>
                <li><a href="#">Create Cast</a></li>
                <li><a href="#">Logout</a></li>
                <!--Guest-->
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
            </ul>

        </nav>


        <main>

            <section id="details-page">

                <div class="main_card">
                    <div class="card_left">
                        <div class="card_datails">

                            <h1>The Little Mermaid</h1>
                            <div class="card-movie">
                                <div class="first-info">
                                    <p class="card-genre">Genre: Fantasy</p>
                                    <p class="card-director">Directror: Rob Marshall</p>
                                </div>
                                <div class="second-info">
                                    <p class="card-year">Year: 2023</p>
                                    <p class="card-ranking">Rating: <span id="stars">&#x2605; &#x2605; &#x2605;
                                            &#x2605;</span></p>
                                </div>

                            </div>

                            <p class="disc">Description: The youngest of King Triton's daughters, Ariel is a beautiful
                                and spirited young mermaid with a thirst for adventure. Longing to find out more about
                                the world beyond the sea, Ariel visits the surface and falls for the dashing Prince
                                Eric. Following her heart, she makes a deal with the evil sea witch, Ursula, to
                                experience life on land.</p>
                        </div>
                        <div class="details-btn">
                            <button id="edit-button">Edit</button>
                            <button id="delete-button">Delete</button>
                        </div>
                    </div>
                    <div class="card_right">
                        <img src="./static/img/the-little-mermaid.jpg" alt="image">
                    </div>
                </div>

                <div class="main-cast-card">
                    <div class="no-cast">
                        <p>There are no casts added yet...</p>
                    </div>
                </div>

            </section>

        </main>


        <footer>
            © JS Back-End Workshop
        </footer>

    </div>

</body>

</html>