<section id="search">
    <h1>Search</h1>
    <form action="" method="" class="form">
        <input type="text" class="search" name="search" placeholder="Title...">
        <input type="text" name="" class="genre" placeholder="Genre...">
        <input type="number" name="" class="year" placeholder="Year...">
        <input type="submit" value="search">
    </form>
</section>

<section id="catalog">
    <div class="band">
        {{> catalog }}
    </div>
</section>