<section id="search">
    <h1>Search</h1>
    <form action="/search" method="GET" class="form">
        <input type="text" class="search" name="title" value="{{title}}" placeholder="Title...">
        <input type="text" name="genre" class="genre" value="{{genre}}" placeholder="Genre...">
        <input type="number" name="year" class="year" value="{{year}}" placeholder="Year...">
        <input type="submit" value="search">
    </form>
</section>

<section id="catalog">
    <div class="band">
        {{> catalog }}
    </div>
</section>