<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
    <!-- Do not forget to change the path to the css file -->
    <link href="./static/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <nav>
            <img src="./static/img/logo.webp" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create Post</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
            </ul>

        </nav>


        <main>

            <section id="search">
                <h1>Search</h1>
                <form action="" method="" class="form">
                    <input type="text" class="search" name="search" placeholder="Title...">
                    <input type="text" name="" class="genre" placeholder="Genre...">
                    <input type="number" name="" class="year" placeholder="Year...">
                    <input type="submit" value="search">
                </form>
            </section>

            <section id="catalog">
                <div class="band">

                    <!-- If there are posts for movie in the database display each of them -->
                    <div class="flip flip-vertical">
                        <div class="front">
                            <img src="./static/img/jungle-cruise.jpeg"
                                alt="Jungle-Couise">
                        </div>
                        <div class="back">
                            <h1>Jungle Cuise</h1>
                            <h2>Genre: Adventure</h2>
                            <p>Description: Dreaming about saving countless lives and having another adventure, the
                                feisty English feminist and doctor of botany, Dr Lily Houghton, embarks on a peril-laden
                                mission to change the world. Along with her fashionable brother, MacGregor, Dr Houghton
                                enlists the help of the arrogant, wisecracking riverboat skipper, Captain Frank Wolff,
                                to guide them through the serpentine Amazon River in La Quila, his swift wooden boat.
                                Now, as the intrepid trio ventures deeper and deeper into the heart of an impenetrable
                                green maze, searching for something that cannot be found, a centuries-old curse and the
                                ruthless aristocrat, Prince Joachim, threaten to put an end to their ambitious plans.
                            </p>
                            <a href="#" class="details">Details</a>
                        </div>
                    </div>

                    <div class="flip flip-vertical">
                        <div class="front">
                            <img src="./static/img/the-little-mermaid.jpg"
                                alt="The-Little-Mermaid">
                        </div>
                        <div class="back">
                            <h1>The Little Mermaid</h1>
                            <h2>Genre: Fantasy</h2>
                            <p>Description: The youngest of King Triton's daughters, Ariel is a beautiful and spirited
                                young mermaid with a thirst for adventure. Longing to find out more about the world
                                beyond the sea, Ariel visits the surface and falls for the dashing Prince Eric.
                                Following her heart, she makes a deal with the evil sea witch, Ursula, to experience
                                life on land.</p>
                            <a href="#" class="details">Details</a>
                        </div>
                    </div>

                    <div class="flip flip-vertical">
                        <div class="front">
                            <img src="./static/img/home-alone.jpeg"
                                alt="Home-Alone">
                        </div>
                        <div class="back">
                            <h1>Home Alone</h1>
                            <h2>Genre: Comedy</h2>
                            <p>Description: It is Christmas time and the McCallister family is preparing for a vacation
                                in Paris, France. But the youngest in the family, Kevin (Macaulay Culkin), got into a
                                scuffle with his older brother Buzz (Devin Ratray) and was sent to his room, which is on
                                the third floor of his house. Then, the next morning, while the rest of the family was
                                in a rush to make it to the airport on time, they completely forgot about Kevin, who now
                                has the house all to himself. Being home alone was fun for Kevin, having a pizza all to
                                himself, jumping on his parents' bed, and making a mess. Then, Kevin discovers about two
                                burglars, Harry (Joe Pesci) and Marv (Daniel Stern), about to rob his house on Christmas
                                Eve. Kevin acts quickly by wiring his own house with makeshift booby traps to stop the
                                burglars and to bring them to justice.</p>
                            <a href="#" class="details">Details</a>
                        </div>
                    </div>


                    <!-- If there are no posts matched display: -->
                    <!-- <div class="no-posts">
                        <p class="no-offer">There are no movies matched...</p>
                    </div> -->
                </div>
            </section>

        </main>


        <footer>
            © JS Back-End Workshop
        </footer>
    </div>

</body>

</html>