@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
    font-family: 'Open Sans', sans-serif;
}

.loginSection {
    background: #b5838d;
    margin: auto;
    width: 740px;
    height: 370px auto;
    margin-top: 7em;
    right: 50%;
    text-align: center;
    display: flex;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}

.registerSection {
    background: #b5838d;
    margin: auto;
    width: 740px;
    height: 600px auto;
    margin-top: 2em;
    left: 35%;
    text-align: center;
    display: flex;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}

.info {
    width: 250px;
    background: #6D6875;
    padding: 55px 5px;
    border-right: 5px solid black;
}

.info-register {
    width: 250px;
    background: #6D6875;
    padding: 55px 5px;
    border-right: 5px solid black;
}

.info-register>h2 {
    padding-top: 30%;
    font-weight: bold;
    font-size: 23px;
}

.info > h2 {
    padding-top: 20%;
    font-weight: bold;
    font-size: 23px;
}

.info>p {
    margin-top: 2px;
    font-size: 18px;
}

.loginForm {
    width: 580px;
    padding: 30px 0;
    transition: .2s;
}

.registerForm {
    width: 540px;
    padding: 30px 0;
    transition: .2s;
}

.registerForm>h2 {
    font-weight: bolder;
    font-size: 27px;
    margin-bottom: 0.8em;
}

.loginForm>h2 {
    font-weight: bolder;
    font-size: 27px;
    margin-bottom: 0.8em;
}

.noBullet .inputFields {
    margin: 18px 0;
    font-size: 19px;
    padding: 10px;
    width: 270px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
}

.noBullet {
    list-style-type: none;
    padding: 0;
}

#join-btn,
#login-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: #6d6875;
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 43px;
    cursor: pointer;
    transition: .4s;
}

#join-btn:hover,
#login-btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}

.noBullet label {
    display: block;
    width: 100%;
    margin-top: 0.6em;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: bold;
}

.noBullet label {
    margin-bottom: -0.5em;
}

.noBullet label:nth-of-type(2) {
    margin-top: 3em;
}