<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Catalog Page</title>
    <!-- Do not forget to change the path to the css file -->
    <link href="/css/style.css" type="text/css" rel="stylesheet">
</head>

<body>

    <div id="box">

        <nav>
            <img src="/img/logo.webp" alt="logo">

            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/create">Create Post</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/about">About</a></li>
            </ul>

        </nav>

        <main>

            {{{body}}}

        </main>
        <footer>
            © JS Back-End Workshop
        </footer>
    </div>

</body>

</html>