<section id="login-page">

    <div class="loginSection">
        <div class="info">
            <h2>"My mama always said life was like a box of chocolates. You never know what you're gonna get."</h2>
        </div>
        <form action="/auth/login" method="post" class="loginForm">
            <h2>Login</h2>
            <ul class="noBullet">
                <li>
                    <label for="email">Email:</label>
                    <input type="text" class="inputFields" id="email" name="email" />
                </li>
                <li>
                    <label for="password">Password:</label>
                    <input type="password" class="inputFields" id="password" name="password" />
                </li>

                <li id="center-btn">
                    <button id="login-btn">Login</button>
                </li>
            </ul>
        </form>
    </div>

</section>
