<section id="register-page">
    <div class="registerSection">
        <div class="info-register">
            <h2>"I hope you're pleased with yourselves. We could all have been killed — or worse, expelled. Now if you
                don't mind, I'm going to bed."</h2>
        </div>
        <form action="#" method="" class="registerForm">
            <h2>Register</h2>
            <ul class="noBullet">
                <li>
                    <label for="email">Email:</label>
                    <input type="text" class="inputFields" id="email" name="" value="" />
                </li>
                <li>
                    <label for="password">Password:</label>
                    <input type="password" class="inputFields" id="password" name="" />
                </li>
                <li>
                    <label for="repeat-password">Repeat-Password:</label>
                    <input type="password" class="inputFields" id="repeat-password" name="" />
                </li>
                <li id="center-btn">
                    <button id="join-btn">Register</button>
                </li>
            </ul>
        </form>
    </div>
</section>
